<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Node Authentication</title>
    <link rel='stylesheet' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>
		<style>
			body {
				padding-top: 80px;
				word-wrap: break-word;
			}
		</style>
  </head>
  <body>
    <div class="container">
			<div class="page-header text-center">
				<h1>
					<span class="fa fa-anchor"></span> Profile Page
				</h1>
				<a href="/logout" class="btn btn-default btn-sm">Logout</a>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="well">
						<h3>
							<span class="fa fa-facebook"></span> Facebook
						</h3>
						<p>
							<strong>id</strong> : <%=user.id%><br>
							<strong>facebook id</strong> : <%=user.facebookId%><br>
							<strong>facebook username</strong> : <%=user.facebookUsername%><br>
							<strong>facebook token</strong> : <%=user.facebookToken%><br>
							<strong>facebook email</strong> : <%=user.facebookEmail%><br>
							<strong>facebook name</strong> : <%=user.facebookName%><br>
							<img src="<%=user.facebookPhoto%>"><br>
						</p>
					</div>
				</div>
			</div><!-- row -->
    </div>
  </body>
</html>
