<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
        function modify(){
            location.href ="/update/<%=data.no%>/<%=page%>";
        }
        function delformview(){
            document.getElementById("frm1").style.display="inline";
            document.getElementById("span1").style.visibility="hidden";
        }
        function cancel(){
            document.getElementById("frm1").style.display="none";
            document.getElementById("span1").style.visibility="";
            
        }
        function del(){
            if(document.getElementById("pw").value == ""){
                alert("비밀번호를 입력하세요");
                document.getElementById("pw").focus();
                return;
            }
            document.frm1.submit();
            
        }
        
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/list/<%=page%>">리스트</a><br>
    <table>
        <tr>
            <th width="20%">글번호</th>
            <td><%=data.no%></td>
        </tr>
        
        
        <tr>
            <th>글쓴이</th>
            <td><%=data.name%></td>
        </tr>
        
        <tr>
            <th>조회수</th>
            <td><%=data.hit%></td>
        </tr>
        <tr>
            <th>제목</th>
            <td><%=data.title%></td>
        </tr>
        <tr>
            <th>내용</th>
            <td><%=data.content%></td>
        </tr>
        
        <tr>
            <th>날짜</th>
            <td><%=data.regdate%></td>
        </tr>
        
        
        <tr>
            <th>좋아요</th>
            <td><%=data.good%></td>
        </tr>
        <tr>
           <td colspan="2">
               <span id="span1">
                   
                 <input type="button" value="수정" onclick="modify()">
                 <input type="button" value="삭제" onclick="delformview()">
               </span>
             
             <form name="frm1" action="/delete" method="post" id="frm1" style="display:inline;display:none">
                 <input type="hidden" name="page" value="<%=page%>">
                 <input type="hidden" name="num" value="<%=data.no%>">
                 비밀번호 : <input type="password" name="pw" id="pw" size="12" maxlength="12">
                 <input type="button" value="Del" onclick="del()">
                 <input type="button" value="Cancel" onclick="cancel()">
                 
             </form>
           </td>
            
            
        </tr>
        
        
    </table>
  </body>
</html>
